.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 2rem 0px;
  width: 30%;
}

.form-wrapper button {
  width: 100%;
}

.form-container h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .form-wrapper {
    width: 90%;
  }
}
